/*font-family: 'Marhey', cursive; = para as outras fontes. */

body {
  background: black;
  color: white;
}

.minha-area-corpo{
  margin: 5px;
  
}


.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;

}
.logotipo {
  height: 60px;
  padding-right: 600px;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu-itens {
  font-family: 'Marhey', cursive;
  font-weight: bold;
  font-size: 15px;
  color: rgb(59, 58, 56);
  text-decoration: none;
  transition: 0.5s all;
  border: 0.3px solid rgb(131, 124, 115);
  padding: 6px;
  background: white;
  border-radius: 7px;
  width: 120px;
  text-align: center;
}

.menu-itens:hover {
  font-size: 17px;
}

.texto-menu-intro {
  border-top: 1px solid antiquewhite;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: 40px;
}

/* Criando a animação do texto de entrada
.texto-menu-intro {
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}*/
.titulo-menu-intro {
  font-size: bold;
  font-family: 'Port Lligat Slab', serif;
  font-weight: 30%;
  font-size: 80px;
}
.conteudo-texto-intro {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 10px;
}

.subtitulo-menu-intro {
  font-family: 'Port Lligat Slab', serif;
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  padding: 20px;
}

.botao-menu-intro {
  width: 280px;
  height: 30px;
  background-color: black;
  color: antiquewhite;
  border: solid 1px antiquewhite;
  box-shadow: 4px 5px 4px rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 15px;
  font-family: 'Port Lligat Slab', serif;
  margin: 90px;
  transition: 0.5s all;
}

.botao-menu-intro:hover {
  width: 285px;
  height: 32.5px;
  font-size: 17px;
  border-color: rgb(87, 102, 87) 1px solid;
  cursor: pointer;
}

.botao-menu-intro:active {
  border: rgb(12, 228, 12);
}

.foto-intro {
  height: 600px;
  padding: 50px;
  opacity: 90%;
  transition: all 1s;
}

.foto-intro:hover {
  opacity: 100%;
}

.rodape {
  border-top: 1px solid antiquewhite;
  text-align: center;
}

.rodape-intro {
  font-size: 15px;
  text-decoration: double;
  padding: 10px;
}
.rodape-intro::before {
  content: '© ';
}

.titulo-projetos{
  font-size: bold;
  font-family: 'Port Lligat Slab', serif;
  font-weight: 30%;
  font-size: 80px;
  text-align: center;
  margin: 20px;
}

section{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  }

.itens-clicaveis-area{
  margin-top:40px; 
  padding: 2px;

}



.fundo-imagem-area{
  height: 240px;
  padding:1%;
  object-position: center;
  margin: 20px;
  opacity: 100%;
  box-shadow: 0px 0px 400px rgb(218, 204, 13);
  border-radius: 12px;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
  mask-image: linear-gradient(black, transparent);

 
}

.imagem-sobreposta-area-bio{
  height: 180px;
  position: absolute; padding-left: 80px; top: 260px;
  opacity: 80%;
  transition: 0.3s all;
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
  mask-image: linear-gradient(black, transparent);
 

}

.imagem-sobreposta-area-form{
  height: 180px;
  position: absolute; padding-left: 85px; top: 260px;
  opacity: 80%;
  transition: 0.3s all;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);

}
.imagem-sobreposta-area-proj{
  height: 180px;
  position: absolute; padding-left: 61px; top: 270px;
  opacity: 80%;
  transition: 0.3s all;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);

}

.imagem-sobreposta-area-bio:hover{
  height: 190px;
  position: absolute; padding-left: 75px; top: 250px;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  opacity: 100%;

}
.imagem-sobreposta-area-form:hover{
  height: 190px;
  position: absolute; padding-left: 80px; top: 250px;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);  
  opacity: 100%;
 }

 .imagem-sobreposta-area-proj:hover{
  height: 190px;
  position: absolute; padding-left: 58px; top: 260px;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  opacity: 100%;
 }

 .titulo-minha-area{
  text-align: center;
  margin: 10px;
 
 }
 
.titulo-minha-area-bio, .titulo-minha-area-form, .titulo-minha-area-proj{
  font-family: 'Marhey', cursive;
  font-size: 18px;
  color: rgb(0, 0, 0);
  transition: 0.5s all;
  border: 3px solid rgb(212, 212, 187);
  padding: 10px;
  background-blend-mode: multiply;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  display: inline-block;
  margin-right: 26px;
  margin-left: 26px;
  text-align: center;
  transition: 0.3s all;
}

.titulo-minha-area-bio:hover, .titulo-minha-area-form:hover, .titulo-minha-area-proj:hover{
font-size: 16px;
}

.minha-area-main{
  margin-bottom: 5px;
  border-top: 1px solid rgb(255, 255, 255);
  
}
  
