body {
    background: black;
    color: white;
}

.logotipo {
    height: 60px;
    padding-right: 600px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: white solid 1px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background: rgb(0, 0, 0);

    
    
}

.menu {
    display: flex;
    gap: 25px;
    
  }

header{
    font-size: 20px;
    border-bottom: 25px;
    
}

.menu-itens {
    font-family: 'Marhey', cursive;
    font-weight: bold;
    font-size: 15px;
    color: rgb(59, 58, 56);
    text-decoration: none;
    transition: 1ms all;
    padding: 6px;
    background: white;
    border-radius: 20px;
    width: 120px;
    text-align: center;
}

.menu-itens:active {
    border: yellow solid 1px;
    background: rgba(255, 255, 0, 0.534);
}

h1{
    font-size: bold;
  font-family: 'Port Lligat Slab', serif;
  font-weight: 30%;
  font-size: 450%;
  text-align: center;
  margin: 20px;
}
/*_____________________________________________________________________________*/


.descricao{
    width: 80%;
    font-size: 22px;
    text-align: center;
    text-indent: 40px;
    text-shadow: 50px 50px 10px rgba(192, 189, 15, 0.603);
    font-family: 'Raleway', sans-serif;

}

div{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.116);
    justify-content: center;
    
}

.img{
    width: auto;
    height: 300px;
    box-shadow: 0px 0px 400px rgb(218, 204, 13);
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0), transparent);
    mask-image: linear-gradient(rgb(0, 0, 0), transparent);
    display: flex;

}

.em-breve{
    gap: 10%;
    position: relative;
    text-align: center;
    top: -130px;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    
}





/*________________________________________________________________________________________*/

.rodape {
    border-top: 1px solid antiquewhite;
    text-align: center;
}

.rodape-intro:before {
    content: '© ';
}

.rodape-intro {
    font-size: 15px;
    padding: 10px;
}